/*.checkboxButton{
    position: relative;
    float: right;
    right: 550px;
    bottom: 150px;
    background-color: #dddddd;
    border: solid 1px;
}
*/

body {
    background-color: #FFFFFF;
}
/*
canvas{
    position: relative;
    bottom: 150px;
}
*/


